#footer{
    background: #ededed !important ;
    margin-bottom: 0px;
    font-family: $font_2;
}

.coppyrights p{
    text-align: center;
    font-size: 1rem;
    color: #666666;
    margin-bottom: 0px;
    padding: 20px;
}

.footer-content .social-networks{
    list-style-type: none;
    display: inline-block;
    margin: auto;
    margin-left: -10px;
    li{
        float: left;
        padding: 50px 10px 20px 0px;
    }
    a{
        color: #666666;
    }
    .li1 a:hover{
        color: #1877f2 !important;
    }
    .li2 a:hover{
        color: #ea4c89 !important;
    }
    .li3 a:hover{
        color:#e52d27 !important;
    }
}