header h1{
    margin: 100px 0px 20px 0px;
    text-align: center;
    font-size: 125px;
    font-family: $font_3;
    font-weight: 400;
    color: #222;
    text-transform: uppercase;
}

.typedjs{
    text-align: center;
    margin-bottom: 100px;
    color: #e09a0e;
    font-family: $font_2;
    font-size: 25px;
}

header h4{
    padding-bottom: 10px;
    font-family: $font_1;
    color: #242321;
}

header p{
    font-family: $font_2;
    color:#333 ;
}


@media only screen and (max-width: 768px) { 
   
}
