.navbar {
    background: #fff !important;
    .logo{
        font-weight: bold;;
    }
}


.navbar-light .navbar-toggler{
    border: none !important;
}

#icon2{
    display: none;
}

.hidden_icon1{
    display: none;
}

.block_icon2{
    display: block !important;
}