body{
    font-family: $font_main;
}

section{
    margin: 100px 0px 50px 0px;
    text-align: center;
    .colum_left{
        margin-top: 100px;
    }
    img{
        width: 97%;
        transition: all .8s ease-in-out;
    }
    img:hover{
        transform: scale(1.05);
    }
    h3{
        padding: 30px 0px;
    }
}


@media only screen and (max-width: 768px) { 
    section{
        margin: 50px 0px 25px 0px;
    }
    .colum_left{
        margin-top: 0px !important;
    }
 }
